a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
}

.navbar-default .navbar-brand {
    font-family: Arial, sans-serif;
    /*font-style: italic;*/
    font-size: 14px;
    color: black;
}
/*.navbar-default {*/
/*    background-color: #f8f8f8;*/
/*    border-color: #e7e7e7;*/
/*    padding-left: 0;*/
/*}*/
.main-container{
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
}

.lg-container{
    width: 730px;
    float: left;
}

.sm-container{
    width: 250px;
    float: right;
}

/*div.container{*/
/*    padding-left: 5px;*/
/*}*/