{% extends "front/base.html" %}

{% block title %}
首页-自游数据
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='front/css/index.css') }}">
{#<script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>#}
<script src="{{ url_for('static',filename='lib/wangEditor/wangEditor.min.js') }}"></script>
<script src="{{ url_for('static',filename='front/js/public_post.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='lib/wangEditor/wangEditor.css') }}">
{#<link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">#}
<style>
  #editor—wrapper {
    border: 1px solid #ccc;
    z-index: 60; /* 按需定义 */
  }
  #toolbar-container { border-bottom: 1px solid #ccc; }
  #editor-container { height: 500px; }
</style>
{% endblock %}

{% block body %}
     <div class="post-group">
          <ul class="post-group-head">
              <li class="active"><a href="#">最新</a></li>
              <li><a href="#">点赞最多</a></li>
              <li><a href="#">评论最多</a></li>
          </ul>
          <ul class="post-list-group">
              {% for post in posts %}
              <li>
                <div class="author-avatar-group">
                  <img src="{{url_for('media.get_avatar',filename=post.author.avatar)}}" alt="">
                </div>
                <div class="post-info-group">
                  <p class="post-title">
                    <a href="{{url_for('apps.post_detail',post_id=post.id)}}">{{post.title}}</a>
                  </p>
                  <p class="post-info">
                    <span>作者：{{post.author.username}}</span>
                    <span>发表时间：{{ post.create_time}}</span>
                    <span>评论:{{ post.comments|length }}</span>
                  </p>
                </div>
              </li>
              {% endfor %}
          </ul>
     </div>
<h1 style="text-align:center;padding: 20px;">发布帖子</h1>
    <form action="" method="post">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">标题</span>
          <input type="text" class="form-control" name="title">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">板块</span>
          <select name="board_id" class="form-control">
            <option value="1">公开/public</option>
            <option value="1">私有/private</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div id="editor—wrapper">
        <div id="toolbar-container"></div>
        <div id="editor-container"></div>
      </div>
      </div>
      <div class="form-group">
        <button class="btn btn-danger" id="submit-btn">发布帖子</button>
      </div>
    </form>
{% endblock body %}